  <body>
    <h1>Flexible Payment</h1>
    <p>A <%=@years%> year loan of <%=number_to_currency(@P, precision:0)%>, with an annual interest rate of <%=number_to_percentage(@basis_points/100, precision:2)%>, requires a monthly payment of <%=number_to_currency(@payment)%>.</p>
  </body>