<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="number_input">APR</label>
    <input id="number_input" type="text" name="the_user_number" placeholder="APR">
  </div>
    
  <div>
    <label for="number_input">Number of years</label>
    <input id="number_input" type="text" name="the_user_number" placeholder="Number of years">
  </div>
  
    <div>
    <label for="number_input">Principal</label>
    <input id="number_input" type="text" name="the_user_number" placeholder="Principal">
  </div>
    
  <button>
    Calculate monthly payment
  </button>
</form>