<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
    <label for="number_input">Minimum</label>
    <input id="number_input" type="text" name="the_user_number" placeholder="E.g. 1.5">
  </div>
    
  <div>
    <label for="number_input">Maximum</label>
    <input id="number_input" type="text" name="the_user_number" placeholder="E.g. 4.5">
  </div>
  
  <button>
    Pick random number
  </button>
</form>